.heading1 {

}

.heading2 {
    font-size: 20px;
}
.underheaaderimg {
    height: 30px;
    width: 30px;
}

.socialgridimg {
    width: 40px;
    height: 40px;
}

.underheaaderimg:hover {
    cursor: pointer;
}